/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol,
li {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
f article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: 90%;
  margin: auto;
}

.brand img {
  max-width: 125px;
}

header {
  background-color: blue;
  padding-bottom: 30px;
}

.header-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.priority-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.nav-wrapper {
  position: relative;
}

.hamburger {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}

.hamburger input[type=checkbox] {
  visibility: hidden;
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
}

.bar {
  position: relative;
  display: flex;
  justify-content: center;
}

.top {
  bottom: 4px;
  height: 3px;
  width: 30px;
  background-color: black;
  position: absolute;
  transition: 0.3s;
  border-radius: 40px;
}

.middle {
  height: 3px;
  width: 30px;
  background-color: black;
  position: absolute;
  transition: 0.3s;
  border-radius: 40px;
}

.bottom {
  top: 7px;
  bottom: 14px;
  height: 3px;
  width: 30px;
  background-color: black;
  position: absolute;
  transition: 0.3s;
  border-radius: 40px;
}

.hamburger input[type=checkbox]:checked ~ .bar .top {
  transform: rotate(-45deg);
  width: 30px;
  transform-origin: right;
  top: -11px;
  right: -16px;
}

.hamburger input[type=checkbox]:checked ~ .bar .bottom {
  transform: rotate(45deg);
  width: 30px;
  transform-origin: right;
  top: 11px;
  right: -18px;
}

.hamburger input[type=checkbox]:checked ~ .bar .middle {
  transform: translate(10px);
  width: 30px;
  opacity: 0;
}

.main-navigation {
  margin-top: 10px;
  display: none;
}

.hamburger input[type=checkbox]:checked ~ .main-navigation {
  display: block;
}

.drop-down_items {
  margin-left: 40px;
  display: none;
  max-width: 150px;
}

.drop-down:hover .drop-down_items {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
